@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  margin-top: 0 !important; }

html {
  font-size: 16px;
  min-height: 100%;
  line-height: 1.42;
  margin: 0;
  font-family: "Avertastd-semibold"; }

body {
  line-height: 1.42;
  font-family: "Avertastd-semibold"; }

h1 {
  font-family: "Avertastd-bold";
  font-size: 14px;
  color: #2e3135;
  margin-bottom: 50px;
  word-wrap: break-word; }
  @media (min-width: 860px) {
    h1 {
      font-size: 24px; } }
  h1.fatty {
    color: #ffffff;
    font-size: 33px;
    font-family: "Avertastd-bold";
    font-weight: normal;
    position: relative;
    margin-bottom: 0; }
    h1.fatty:after {
      display: none; }
    @media (min-width: 860px) {
      h1.fatty {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 10px; } }
    @media (min-width: 1000px) {
      h1.fatty {
        font-size: 110px;
        line-height: 110px; } }
  h1:after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background: #2e3135;
    margin-top: 15px; }

h2 {
  font-family: "Avertastd-bold";
  font-size: 19px;
  margin-bottom: 30px;
  color: #ffffff;
  max-width: 1000px;
  line-height: 21px; }
  @media (min-width: 860px) {
    h2 {
      font-size: 48px;
      line-height: 54px;
      margin-bottom: 50px; } }

h3 {
  font-family: "Avertastd-bold";
  color: #a89e92;
  font-size: 14px;
  margin-bottom: 20px; }
  @media (min-width: 860px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-family: "Avertastd-bold";
  font-size: 14px;
  color: #6c6e71; }
  @media (min-width: 860px) {
    h4 {
      font-size: 24px; } }

p {
  color: #2e3135;
  margin-bottom: 20px;
  font-family: "Avertastd-semibold";
  font-size: 13px; }
  @media (min-width: 860px) {
    p {
      font-size: 16px; } }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.2; }
  @media (min-width: 860px) {
    * {
      letter-spacing: -0.8; } }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Avertastd-semibold"; }

blockquote {
  max-width: 100%;
  font-size: 19px;
  font-family: "Avertastd-bold";
  color: #ffffff;
  overflow: hidden;
  line-height: 1.4; }
  @media (min-width: 860px) {
    blockquote {
      font-size: 48px;
      line-height: 54px;
      max-width: 66.10169%; } }
  blockquote p {
    color: #ffffff;
    float: right;
    padding-top: 40px;
    line-height: 18px;
    margin-bottom: 0;
    font-size: 9px; }
    @media (min-width: 860px) {
      blockquote p {
        font-size: 18px; } }

address {
  margin-bottom: 20px; }

.big-list li {
  font-family: "Avertastd-bold";
  font-size: 17px;
  color: #6c6e71;
  padding-bottom: 20px;
  padding-left: 30px; }
  .big-list li a {
    font-family: "Avertastd-bold";
    display: inline-block; }
  @media (min-width: 860px) {
    .big-list li {
      font-size: 24px;
      padding-bottom: 30px; } }
  .big-list li:before {
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
    content: "\f054";
    font-family: FontAwesome;
    color: #0b5f86;
    position: absolute;
    left: 0; }
  .big-list li:hover:before {
    left: 10px; }

.small-list li {
  font-family: "Avertastd-semibold";
  font-size: 13px;
  color: #2e3135;
  padding-bottom: 30px;
  padding-left: 30px;
  position: relative; }
  @media (min-width: 860px) {
    .small-list li {
      font-size: 16px; } }
  .small-list li:before {
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
    content: "";
    background: #0b5f86;
    width: 15px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 8px;
    display: inline-block; }
    @media (min-width: 860px) {
      .small-list li:before {
        top: 12px; } }
  .small-list li:hover:before {
    left: 5px; }

@font-face {
  font-family: 'Avertastd-semibold';
  src: url("../fonts/avertastd-semibold-webfont.eot");
  src: url("../fonts/avertastd-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avertastd-semibold-webfont.woff2") format("woff2"), url("../fonts/avertastd-semibold-webfont.woff") format("woff"), url("../fonts/avertastd-semibold-webfont.ttf") format("truetype"), url("../fonts/avertastd-semibold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avertastd-bold';
  src: url("../fonts/avertastd-bold-webfont.eot");
  src: url("../fonts/avertastd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avertastd-bold-webfont.woff2") format("woff2"), url("../fonts/avertastd-bold-webfont.woff") format("woff"), url("../fonts/avertastd-bold-webfont.ttf") format("truetype"), url("../fonts/avertastd-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Underline From Center */
.wordpress-content-area ul {
  list-style-type: disc;
  padding-left: 30px; }

.wordpress-content-area strong {
  color: #000; }

.wordpress-content-area blockquote {
  border-left: 2px solid #555;
  padding-left: 15px; }

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 55;
  background: white; }
  .loader-container.open {
    opacity: 0; }
  .loader-container > div {
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0.5);
            transform: translateY(-50%) scale(0.5); }

@-webkit-keyframes uilsquare {
  0% {
    background-color: #0b5f86; }
  1% {
    background-color: #85afc2; }
  11% {
    background-color: #85afc2; }
  21% {
    background-color: #0b5f86; }
  100% {
    background-color: #0b5f86; } }

@-webkit-keyframes uilsquare {
  0% {
    background-color: #0b5f86; }
  1% {
    background-color: #85afc2; }
  11% {
    background-color: #85afc2; }
  21% {
    background-color: #0b5f86; }
  100% {
    background-color: #0b5f86; } }

@-webkit-keyframes uilsquare {
  0% {
    background-color: #0b5f86; }
  1% {
    background-color: #85afc2; }
  11% {
    background-color: #85afc2; }
  21% {
    background-color: #0b5f86; }
  100% {
    background-color: #0b5f86; } }

@keyframes uilsquare {
  0% {
    background-color: #0b5f86; }
  1% {
    background-color: #85afc2; }
  11% {
    background-color: #85afc2; }
  21% {
    background-color: #0b5f86; }
  100% {
    background-color: #0b5f86; } }

.uil-squares-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px; }

.uil-squares-css div {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #0b5f86; }

.uil-squares-css div > div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: uilsquare 1s linear infinite;
  animation: uilsquare 1s linear infinite;
  width: 40px;
  height: 40px; }

.uil-squares-css > div:nth-of-type(1) {
  top: 30px;
  left: 30px; }

.uil-squares-css > div:nth-of-type(1) > div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.uil-squares-css > div:nth-of-type(2) {
  top: 30px;
  left: 80px; }

.uil-squares-css > div:nth-of-type(2) > div {
  -webkit-animation-delay: 0.125s;
  animation-delay: 0.125s; }

.uil-squares-css > div:nth-of-type(3) {
  top: 30px;
  left: 130px; }

.uil-squares-css > div:nth-of-type(3) > div {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.uil-squares-css > div:nth-of-type(4) {
  top: 80px;
  left: 130px; }

.uil-squares-css > div:nth-of-type(4) > div {
  -webkit-animation-delay: 0.375s;
  animation-delay: 0.375s; }

.uil-squares-css > div:nth-of-type(5) {
  top: 130px;
  left: 130px; }

.uil-squares-css > div:nth-of-type(5) > div {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.uil-squares-css > div:nth-of-type(6) {
  top: 130px;
  left: 80px; }

.uil-squares-css > div:nth-of-type(6) > div {
  -webkit-animation-delay: 0.625s;
  animation-delay: 0.625s; }

.uil-squares-css > div:nth-of-type(7) {
  top: 130px;
  left: 30px; }

.uil-squares-css > div:nth-of-type(7) > div {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s; }

.uil-squares-css > div:nth-of-type(8) {
  top: 80px;
  left: 30px; }

.uil-squares-css > div:nth-of-type(8) > div {
  -webkit-animation-delay: 0.875s;
  animation-delay: 0.875s; }

body {
  margin-bottom: 350px; }
  @media (min-width: 860px) {
    body {
      margin-bottom: 327px; } }

main {
  display: block; }
  main section:first-of-type .container {
    padding-top: 65px; }
    @media (min-width: 860px) {
      main section:first-of-type .container {
        padding-top: 84px; } }

.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (min-width: 1330px) {
    .container {
      padding: 0; } }

img {
  max-width: 100%; }

section {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background: #ffffff; }
  section.small-padding {
    padding-top: 50px;
    padding-bottom: 50px; }
  section.extra-big-padding {
    padding-top: 140px;
    padding-bottom: 140px; }

.main-body {
  z-index: 0; }
  .main-body .filter {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
    background: #96989a;
    z-index: 9; }
  .main-body.open .filter {
    opacity: 0.6; }

.four-col {
  overflow: hidden; }
  .four-col > div,
  .four-col > a {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 860px) {
      .four-col > div,
      .four-col > a {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; } }
    @media (min-width: 860px) {
      .four-col > div:last-of-type,
      .four-col > a:last-of-type {
        width: 23.72881%;
        float: right;
        margin-right: 0; } }

.three-col {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .three-col > div,
  .three-col > a {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 860px) {
      .three-col > div,
      .three-col > a {
        max-width: 32.20339%;
        width: 32.20339%;
        margin-right: 1.69492%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto; } }
    .three-col > div:nth-child(3n),
    .three-col > a:nth-child(3n) {
      margin-right: 0; }

.two-col {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .two-col.big-right-margin > div,
  .two-col.big-right-margin > a {
    margin-right: 0;
    padding-right: 11.01695%;
    padding-bottom: 60px; }
  .two-col > div,
  .two-col > a {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    @media (min-width: 860px) {
      .two-col > div,
      .two-col > a {
        max-width: 49.15254%;
        width: 49.15254%;
        margin-right: 1.69492%; } }
    @media (min-width: 860px) {
      .two-col > div:nth-child(2n),
      .two-col > a:nth-child(2n) {
        margin-right: 0; } }

.feature-big-split {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 860px) {
    .feature-big-split {
      width: 74.74747%;
      float: left;
      margin-right: 1.0101%; } }

.feature-big-sub-split {
  width: 66.21622%;
  float: left;
  margin-right: 1.35135%; }

.feature-small-split {
  width: 32.43243%;
  float: left;
  margin-right: 1.35135%; }

.three-quarter-col {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 860px) {
    .three-quarter-col {
      width: 74.57627%;
      float: left;
      margin-right: 1.69492%; } }

.one-quarter-col {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 860px) {
    .one-quarter-col {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%;
      margin-right: 0; } }

.howard-split {
  overflow: hidden; }
  .howard-split > div {
    padding-left: 0%; }
    @media (min-width: 860px) {
      .howard-split > div {
        padding-left: 0%; } }
    .howard-split > div:first-of-type {
      display: none; }
      @media (min-width: 860px) {
        .howard-split > div:first-of-type {
          width: 24.24242%;
          float: left;
          margin-right: 1.0101%;
          display: block; } }
    .howard-split > div:nth-child(2) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      @media (min-width: 860px) {
        .howard-split > div:nth-child(2) {
          width: 34.34343%;
          float: left;
          margin-right: 1.0101%; } }
    .howard-split > div:last-of-type {
      width: 100%;
      float: right;
      margin-right: 0; }
      @media (min-width: 860px) {
        .howard-split > div:last-of-type {
          width: 34.34343%;
          float: left;
          margin-right: 1.0101%; } }

.howard-split-big {
  overflow: hidden; }
  .howard-split-big > div {
    padding-left: 0%; }
    @media (min-width: 860px) {
      .howard-split-big > div {
        padding-left: 0%; } }
    .howard-split-big > div:first-of-type {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      @media (min-width: 860px) {
        .howard-split-big > div:first-of-type {
          width: 24.24242%;
          float: left;
          margin-right: 1.0101%;
          display: block; } }
    .howard-split-big > div:last-of-type {
      width: 100%;
      float: right;
      margin-right: 0; }
      @media (min-width: 860px) {
        .howard-split-big > div:last-of-type {
          width: 69.69697%;
          float: left;
          margin-right: 1.0101%; } }

.last {
  margin-right: 0; }

@media (min-width: 860px) {
  .text-split-two-col {
    -webkit-column-gap: 1.69492%;
       -moz-column-gap: 1.69492%;
            column-gap: 1.69492%;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2; } }

.text-split-two-col li,
.text-split-two-col p {
  display: block; }
  @media (min-width: 860px) {
    .text-split-two-col li,
    .text-split-two-col p {
      display: inline-block;
      width: 100%; } }

.smaller-break-col {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 40px; }
  .smaller-break-col > div,
  .smaller-break-col > a {
    max-width: 49.15254%;
    width: 49.15254%;
    margin-right: 1.69492%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    @media (min-width: 860px) {
      .smaller-break-col > div,
      .smaller-break-col > a {
        max-width: 23.72881%;
        width: 23.72881%; } }
    .smaller-break-col > div:nth-child(2n),
    .smaller-break-col > a:nth-child(2n) {
      margin-right: 0;
      clear: both; }

.global-image-cell {
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  margin-top: 30px; }
  @media (min-width: 860px) {
    .global-image-cell {
      margin-top: 0; } }
  .global-image-cell img {
    margin-right: 20px;
    margin-bottom: 40px;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 50px; }
  .global-image-cell .image {
    display: block;
    width: 100%;
    overflow: hidden;
    height: 75px; }
    @media (min-width: 860px) {
      .global-image-cell .image {
        display: inline-block;
        float: left;
        width: 80px;
        height: auto; } }
  @media (min-width: 860px) {
    .global-image-cell span {
      float: left;
      width: calc(100% - 80px); } }
  .global-image-cell h4 {
    margin-bottom: 5px;
    display: block; }
    @media (min-width: 860px) {
      .global-image-cell h4 {
        display: inline-block; } }
  .global-image-cell p {
    display: none; }
    @media (min-width: 860px) {
      .global-image-cell p {
        display: inline-block;
        font-size: 16px;
        margin-bottom: 0; } }

.gallery-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center; }
  .gallery-container img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .gallery-container > div {
    max-width: 49.15254%;
    width: 49.15254%;
    margin-right: 1.69492%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding: 3%;
    position: relative;
    height: 225px; }
    @media (min-width: 480px) {
      .gallery-container > div {
        max-width: 32.20339%;
        width: 32.20339%; } }
    @media (min-width: 860px) {
      .gallery-container > div {
        max-width: 15.25424%;
        width: 15.25424%; } }
    .gallery-container > div:nth-of-type(2n) {
      margin-right: 0; }
      @media (min-width: 480px) {
        .gallery-container > div:nth-of-type(2n) {
          margin-right: 1.69492%; } }
    .gallery-container > div:nth-of-type(3n) {
      margin-right: 0; }
      @media (min-width: 860px) {
        .gallery-container > div:nth-of-type(3n) {
          margin-right: 1.69492%; } }
    .gallery-container > div:nth-of-type(6n) {
      margin-right: 0; }

@-webkit-keyframes slideFromTop {
  0% {
    top: -200px; }
  100% {
    top: 0; } }

@keyframes slideFromTop {
  0% {
    top: -200px; }
  100% {
    top: 0; } }

nav {
  width: 100%;
  height: 65px;
  background: #0b5f86;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  top: -200px;
  -webkit-animation: slideFromTop .7s .2s ease-in-out;
          animation: slideFromTop .7s .2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  @media (min-width: 860px) {
    nav {
      height: 85px; } }
  nav img {
    margin-top: 15px;
    max-width: 150px; }
    @media (min-width: 860px) {
      nav img {
        margin-top: 20px;
        max-width: none; } }
  nav .mobile-nav-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 65px;
    width: 65px;
    background: #a89e92;
    z-index: 22;
    cursor: pointer; }
    @media (min-width: 860px) {
      nav .mobile-nav-icon {
        display: none; } }
    nav .mobile-nav-icon .mobile-nav-burger {
      width: 25px;
      height: 2px;
      background: #ffffff;
      margin: 0 auto;
      position: relative;
      top: 23px; }
      nav .mobile-nav-icon .mobile-nav-burger:before, nav .mobile-nav-icon .mobile-nav-burger:after {
        width: 25px;
        height: 2px;
        content: '';
        background: #ffffff;
        margin: 0 auto;
        position: relative;
        display: block; }
      nav .mobile-nav-icon .mobile-nav-burger:before {
        top: 8px; }
      nav .mobile-nav-icon .mobile-nav-burger:after {
        top: 14px; }
  nav .nav-list {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    position: absolute;
    height: 100vh;
    width: 50%;
    background: #ffffff;
    top: 65px;
    padding-left: 10px;
    padding-top: 10px;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
    nav .nav-list.active {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    @media (min-width: 480px) {
      nav .nav-list {
        padding-left: 20px;
        padding-top: 20px; } }
    @media (min-width: 860px) {
      nav .nav-list {
        float: right;
        padding-left: 0;
        padding-top: 0;
        height: 100%;
        background: transparent;
        position: relative;
        width: auto;
        top: 0;
        right: 0;
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
    nav .nav-list a {
      display: block;
      padding: 10px 0;
      margin: 0 14px;
      font-size: 17px;
      color: #6c6e71;
      font-family: "Avertastd-bold";
      padding-left: 30px;
      position: relative; }
      @media (min-width: 860px) {
        nav .nav-list a {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          box-shadow: 0 0 1px transparent;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -moz-osx-font-smoothing: grayscale;
          position: relative;
          overflow: hidden;
          display: inline-block;
          color: #ffffff;
          font-size: 14px;
          padding: 35px 0; }
          nav .nav-list a:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            right: 100%;
            bottom: 25px;
            background: #a89e92;
            height: 4px;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.2s;
                    transition-duration: 0.2s;
            -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out; }
          nav .nav-list a:hover:before, nav .nav-list a:focus:before, nav .nav-list a:active:before {
            right: 0; } }
      @media (min-width: 1119px) {
        nav .nav-list a {
          margin: 0 20px; } }
      nav .nav-list a:hover:before {
        left: 0; }
      nav .nav-list a:before {
        -webkit-transition: left .2s ease-in-out;
        transition: left .2s ease-in-out;
        content: "\f054";
        font-family: FontAwesome;
        color: #0b5f86;
        position: absolute;
        left: 0; }
        @media (min-width: 860px) {
          nav .nav-list a:before {
            content: '';
            margin-right: 0;
            position: absolute;
            -webkit-transition: none;
            transition: none;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: .2s;
                    transition-duration: .2s;
            -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out; } }
      @media (min-width: 860px) {
        nav .nav-list a.active:before {
          content: "";
          position: absolute;
          z-index: -1;
          left: 0;
          right: 0;
          bottom: 25px;
          background: #a89e92;
          height: 4px; } }

.nav-target {
  position: fixed;
  top: 65px;
  right: 0;
  width: 100%;
  min-height: calc(100% - 65px);
  background: #ffffff;
  -webkit-transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 12;
  overflow-x: scroll;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }
  @media (min-width: 860px) {
    .nav-target {
      width: 50%;
      top: 85px;
      min-height: calc(100% - 86px);
      -webkit-transform: translateX(100%);
              transform: translateX(100%); } }
  .nav-target .nav-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 100%;
    padding: 60px 27px 75px 27px;
    pointer-events: none; }
    @media (min-width: 860px) {
      .nav-target .nav-content {
        max-width: 80%;
        padding: 80px 0 75px 80px; } }
    .nav-target .nav-content ul {
      margin-top: 50px; }
    .nav-target .nav-content h4 {
      font-size: 17px; }
      @media (min-width: 860px) {
        .nav-target .nav-content h4 {
          font-size: 24px; } }
    .nav-target .nav-content .global-image-cell {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
      @media (min-width: 860px) {
        .nav-target .nav-content .global-image-cell {
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0; } }
      .nav-target .nav-content .global-image-cell:nth-of-type(3n) {
        width: 32.20339%;
        float: right;
        margin-right: 0; }
        @media (min-width: 860px) {
          .nav-target .nav-content .global-image-cell:nth-of-type(3n) {
            width: 100%;
            float: left;
            margin-left: 0;
            margin-right: 0; } }
    .nav-target .nav-content .nav-slide {
      -webkit-transition: opacity 1s 0.1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 1s 0.1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 1.3s 0.1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 1.3s 0.1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s 0.1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.3s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
      position: relative;
      pointer-events: none; }
      .nav-target .nav-content .nav-slide.open {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
        pointer-events: all; }
  .nav-target.open {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .nav-target .close {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #0b5f86;
    cursor: pointer;
    z-index: 3;
    font-size: 20px; }
  .nav-target p {
    color: #a89e92; }

footer {
  padding: 40px 0 10px 0;
  background: #0b5f86;
  overflow: hidden;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -101; }
  @media (min-width: 860px) {
    footer {
      padding-top: 80px;
      padding-bottom: 80px; } }
  footer p {
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 15px;
    line-height: 25px; }
  footer .four-col > div {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    padding-bottom: 30px; }
    footer .four-col > div:nth-child(2n) {
      width: 49.15254%;
      float: right;
      margin-right: 0; }
      @media (min-width: 860px) {
        footer .four-col > div:nth-child(2n) {
          width: 23.72881%;
          float: left;
          margin-right: 1.69492%; } }
    @media (min-width: 860px) {
      footer .four-col > div {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%;
        margin-bottom: 0; } }
    @media (min-width: 860px) {
      footer .four-col > div:last-of-type {
        width: 23.72881%;
        float: right;
        margin-right: 0; } }
  footer .fa {
    margin-right: 10px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    footer .fa:hover {
      color: #b3b3b3; }
  footer a:not(.fa) {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    top: -2px; }
    footer a:not(.fa):before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 100%;
      bottom: 25px;
      background: #a89e92;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out; }
    footer a:not(.fa):hover:before, footer a:not(.fa):focus:before, footer a:not(.fa):active:before {
      right: 0; }
    footer a:not(.fa):before {
      bottom: -3px;
      background: #ffffff; }
  footer .footer-line {
    display: block;
    width: 20px;
    height: 2px;
    background: #ffffff;
    margin-bottom: 15px; }
    footer .footer-line.blue {
      background: #0b5f86; }

@media (min-width: 860px) {
  .nav-content .three-col > div,
  .nav-content .three-col > a {
    max-width: 100%; } }

.blue-on-top-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #0b5f86;
  opacity: 0.6; }

.blue-filter {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  height: 100%; }
  .blue-filter:hover:before {
    opacity: 1; }
  .blue-filter img {
    display: block; }
  .blue-filter:after, .blue-filter:before {
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background: -webkit-linear-gradient(300deg, rgba(11, 95, 134, 0.5), transparent);
    background: linear-gradient(150deg, rgba(11, 95, 134, 0.5), transparent); }
  .blue-filter:before {
    opacity: 0;
    background: -webkit-linear-gradient(300deg, #0b5f86, transparent);
    background: linear-gradient(150deg, #0b5f86, transparent); }

.mobile-hide {
  display: none; }
  @media (min-width: 860px) {
    .mobile-hide {
      display: block;
      display: initial; } }

.fade-hover {
  position: relative;
  display: inline-block; }
  .fade-hover:hover:before {
    opacity: 1; }
  .fade-hover:before {
    width: 100%;
    height: 100%;
    content: '';
    background: #0b5f86;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }

.fade-in-on-scroll {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  top: 0; }

.fade-from-left {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: none;
  transition: none; }

.fade-from-right {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: none;
  transition: none; }

.fade-from-bottom {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: none;
  transition: none; }

.big-background {
  position: relative;
  overflow: hidden;
  padding-top: 35%;
  padding-bottom: 0; }
  @media (min-width: 860px) {
    .big-background {
      padding-top: 15%; } }
  @media (min-width: 860px) {
    .big-background {
      padding-top: 20%; } }
  .big-background .container {
    margin-bottom: 16vw; }
  .big-background > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }

.cream-font {
  color: #cbc5be; }

.dark-cream-font {
  color: #a89e92; }

@media (min-width: 860px) {
  .big-font {
    font-size: 48px; } }

.cream-background {
  background: #cbc5be; }

.light-cream-background {
  background: #e5e2de; }

.white-text {
  color: #ffffff; }
  .white-text:after {
    background: #ffffff; }

.dark-text {
  color: #2e3135; }
  .dark-text li {
    color: #2e3135; }

.dark-cream-background {
  background: #a89e92; }

.dark-gray-background {
  background: #2e3135; }

.blue-background {
  background: #0b5f86; }

.parallax-window {
  min-height: 400px;
  background: transparent; }

.small-hr {
  color: #a89e92;
  width: 30px;
  margin: 10px 0; }

.over-flow {
  overflow: hidden; }

.no-margin-bottom {
  margin-bottom: 0; }

.margin-bottom {
  margin-bottom: 80px; }

.insta-target img {
  width: auto; }

#home-slider {
  padding: 0; }

#home-services {
  background: #cbc5be;
  overflow: hidden; }
  #home-services .global-image-cell h4 {
    color: #ffffff; }
  #home-services .three-col > div {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    padding-right: 8.47458%; }
    @media (min-width: 860px) {
      #home-services .three-col > div {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        padding-right: 0%; } }
    #home-services .three-col > div:nth-child(3n) {
      width: 32.20339%;
      float: right;
      margin-right: 0; }

#home-featured {
  position: relative;
  overflow: hidden; }
  #home-featured div {
    position: relative; }
    #home-featured div img {
      margin: 0;
      display: block;
      max-height: none;
      width: 100%; }
    #home-featured div .big-right {
      padding-top: 45.5%; }
      #home-featured div .big-right img {
        max-height: auto; }
  #home-featured a {
    position: relative; }
  #home-featured .blue-filter:hover + .text-cell div {
    left: 0; }
  #home-featured .blue-filter {
    width: 100%;
    position: absolute; }
  #home-featured .text-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    z-index: 6;
    pointer-events: none;
    overflow: hidden; }
    #home-featured .text-cell h3 {
      color: #ffffff;
      margin-bottom: 30px; }
    #home-featured .text-cell p {
      margin-bottom: 5px;
      color: #cbc5be; }
    #home-featured .text-cell p:nth-child(2n) {
      color: #a89e92; }
    #home-featured .text-cell div {
      position: relative;
      left: -200px;
      -webkit-transition: left 0.2s ease-in-out;
      transition: left 0.2s ease-in-out; }
  #home-featured a {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 1 !important;
    height: 0;
    padding-top: 40%; }
    @media (min-width: 480px) {
      #home-featured a {
        padding-top: 30%; } }
    @media (min-width: 860px) {
      #home-featured a {
        padding-top: 23%; } }
  #home-featured .feature-big-split > div {
    margin-bottom: 1%;
    overflow: hidden; }
    #home-featured .feature-big-split > div div:nth-of-type(2n) {
      margin-right: 0; }

#home-next-project {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #0b5f86; }
  #home-next-project h1 {
    color: #cbc5be;
    margin-bottom: 15px;
    padding-left: 0%; }
    @media (min-width: 860px) {
      #home-next-project h1 {
        padding-left: 50.84746%; } }
    #home-next-project h1:after {
      display: none; }
  #home-next-project a {
    color: #ffffff;
    font-size: 11px;
    padding-left: 0%; }
    @media (min-width: 860px) {
      #home-next-project a {
        padding-left: 50.84746%;
        font-size: 18px; } }
    #home-next-project a img {
      -webkit-transition: right .2s ease-in-out;
      transition: right .2s ease-in-out;
      margin-right: 10px;
      position: relative;
      right: 0; }
    #home-next-project a:hover img {
      right: -5px; }

#home-products {
  background: #cbc5be; }
  #home-products a {
    font-size: 14px;
    color: #6c6e71;
    font-family: "Avertastd-bold";
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px; }
    @media (min-width: 860px) {
      #home-products a {
        font-size: 24px; } }
    #home-products a:before {
      content: "\f105";
      font-family: FontAwesome;
      margin-right: 10px;
      font-size: 32px;
      color: #0b5f86;
      position: absolute;
      left: 0;
      -webkit-transition: left 0.2s ease-in-out;
      transition: left 0.2s ease-in-out;
      top: 0;
      line-height: 18px; }
      @media (min-width: 860px) {
        #home-products a:before {
          line-height: 32px; } }
    #home-products a:hover:before {
      left: 5px; }

#home-news p {
  font-size: 16px; }

#home-news .date {
  color: #a89e92;
  font-size: 14px; }

#home-news .three-col > a {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }
  #home-news .three-col > a:last-of-type {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  #home-news .three-col > a img {
    width: 100%; }

#home-news .news-cell a {
  padding-right: 5.05051%; }
  #home-news .news-cell a h3 {
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out; }
  #home-news .news-cell a:hover h3 {
    color: #0b5f86; }

#home-quote {
  background: #85afc2; }

.contact-details {
  margin-top: 50px; }
  .contact-details h1 {
    margin-bottom: 0; }
    .contact-details h1:after {
      display: none; }
  .contact-details div h1:first-of-type {
    width: 40%;
    float: left; }
    @media (min-width: 860px) {
      .contact-details div h1:first-of-type {
        width: 20%; } }

.home-project-split > a {
  min-height: 75px;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 1%; }
  .home-project-split > a:nth-of-type(1) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 480px) {
      .home-project-split > a:nth-of-type(1) {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%; } }
    @media (min-width: 860px) {
      .home-project-split > a:nth-of-type(1) {
        width: 49.49495%;
        float: left;
        margin-right: 1.0101%; } }
  .home-project-split > a:nth-of-type(2) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 480px) {
      .home-project-split > a:nth-of-type(2) {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        margin-right: 0; } }
    @media (min-width: 860px) {
      .home-project-split > a:nth-of-type(2) {
        width: 24.24242%;
        float: left;
        margin-right: 1.0101%; } }
  .home-project-split > a:nth-of-type(3) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 480px) {
      .home-project-split > a:nth-of-type(3) {
        display: none; } }
    @media (min-width: 860px) {
      .home-project-split > a:nth-of-type(3) {
        display: block;
        width: 24.24242%;
        float: right;
        margin-right: 0;
        padding-top: 47% !important; } }
  .home-project-split > a:nth-of-type(4) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 480px) {
      .home-project-split > a:nth-of-type(4) {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%; } }
    @media (min-width: 860px) {
      .home-project-split > a:nth-of-type(4) {
        width: 24.24242%;
        float: left;
        margin-right: 1.0101%; } }
  .home-project-split > a:nth-of-type(5) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 480px) {
      .home-project-split > a:nth-of-type(5) {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%;
        margin-right: 0; } }
    @media (min-width: 860px) {
      .home-project-split > a:nth-of-type(5) {
        width: 49.49495%;
        float: left;
        margin-right: 1.0101%; } }

.slider-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  max-height: 900px;
  height: 850px;
  z-index: 5; }
  .slider-container img {
    display: block;
    min-height: 350px;
    width: auto; }
    @media (min-width: 860px) {
      .slider-container img {
        max-width: none;
        width: 100%; } }
  .slider-container .slider-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden; }
    .slider-container .slider-cell h1 {
      display: none; }
  .slider-container .slider-counter {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    width: 100%;
    pointer-events: none; }
    .slider-container .slider-counter .container {
      position: relative;
      text-align: right; }
    .slider-container .slider-counter .slider-counter-cell {
      width: 50px;
      height: 10px;
      margin-left: 20px;
      background: rgba(255, 255, 255, 0.5);
      z-index: 15;
      display: inline-block; }
      .slider-container .slider-counter .slider-counter-cell.active {
        background: white; }
  .slider-container .slider-text-container {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 100%; }
    .slider-container .slider-text-container .container {
      position: relative;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .slider-container .slider-text-container .container > div {
        overflow: hidden; }

/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Written while drinking Belgian ales and listening to jazz

 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin: 0 auto; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }
  .bx-viewport ul {
    height: 100%; }
    .bx-viewport ul li {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  width: 50px;
  height: 10px;
  background: #a89e92;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #0b5f86; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.side-slider-left,
.side-slider-right {
  position: absolute;
  top: 50%; }
  .side-slider-left:before,
  .side-slider-right:before {
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
    font-family: FontAwesome;
    margin-right: 20px;
    color: #0b5f86;
    position: relative;
    left: 0;
    font-size: 30px;
    cursor: pointer; }

.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../img/side-slider/left-arrow.png");
  width: 21px;
  height: 35px;
  background-repeat: no-repeat; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("../img/side-slider/right-arrow.png");
  width: 21px;
  height: 35px;
  background-repeat: no-repeat; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 21px;
  height: 35px;
  text-indent: -9999px;
  z-index: 9; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

#project-details .project-details-split {
  overflow: hidden; }
  #project-details .project-details-split h1 {
    font-size: 16px;
    margin-bottom: 15px; }
    #project-details .project-details-split h1:after {
      width: 15px;
      height: 1px; }
  #project-details .project-details-split p {
    color: #2e3135;
    margin-bottom: 0; }
  #project-details .project-details-split > div {
    width: 28.57143%;
    float: left;
    margin-right: 2.04082%; }
    @media (min-width: 860px) {
      #project-details .project-details-split > div {
        width: 19.19192%;
        float: left;
        margin-right: 1.0101%; } }
    #project-details .project-details-split > div:first-of-type {
      margin-left: 0%; }
      @media (min-width: 860px) {
        #project-details .project-details-split > div:first-of-type {
          margin-left: 25.25253%; } }

#project-detail h2 {
  color: #2e3135; }

#project-detail p {
  color: #2e3135; }

#project-team .project-team-split {
  overflow: hidden; }
  #project-team .project-team-split img {
    display: block;
    width: auto;
    height: 200px;
    max-width: none;
    min-width: 100%; }
  #project-team .project-team-split h1 {
    width: 100%; }
  #project-team .project-team-split > div .team-member-cell {
    background: #ffffff;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 20px 10px; }
    #project-team .project-team-split > div .team-member-cell p {
      color: #2e3135;
      margin: 0; }
      #project-team .project-team-split > div .team-member-cell p:last-of-type {
        font-size: 14px; }
  #project-team .project-team-split > div:first-of-type {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 860px) {
      #project-team .project-team-split > div:first-of-type {
        width: 59.59596%;
        float: left;
        margin-right: 1.0101%;
        margin-bottom: 0; } }
    #project-team .project-team-split > div:first-of-type > a {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px;
      background: #ffffff;
      overflow: hidden; }
      @media (min-width: 860px) {
        #project-team .project-team-split > div:first-of-type > a {
          max-width: 23.72881%;
          width: 23.72881%;
          margin-right: 1.69492%;
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 auto;
              -ms-flex: 1 0 auto;
                  flex: 1 0 auto;
          margin-bottom: 0; } }
      #project-team .project-team-split > div:first-of-type > a:last-of-type {
        width: 100%;
        float: right;
        margin-right: 0; }
        @media (min-width: 860px) {
          #project-team .project-team-split > div:first-of-type > a:last-of-type {
            margin-right: 0; } }
  #project-team .project-team-split > div:last-of-type {
    width: 100%;
    float: right;
    margin-right: 0; }
    @media (min-width: 860px) {
      #project-team .project-team-split > div:last-of-type {
        width: 39.39394%;
        float: right;
        margin-right: 0; } }
    #project-team .project-team-split > div:last-of-type a {
      color: #ffffff;
      margin-bottom: 7px;
      display: block;
      font-family: "Avertastd-semibold";
      font-size: 16px; }
    #project-team .project-team-split > div:last-of-type > div {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px; }
      @media (min-width: 860px) {
        #project-team .project-team-split > div:last-of-type > div {
          width: 48.71795%;
          float: left;
          margin-right: 2.5641%;
          margin-bottom: 0; } }
      #project-team .project-team-split > div:last-of-type > div:last-of-type {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%;
        margin-bottom: 0; }
        @media (min-width: 860px) {
          #project-team .project-team-split > div:last-of-type > div:last-of-type {
            width: 48.71795%;
            float: right;
            margin-right: 0; } }

#people a {
  display: block;
  background: #ffffff; }

#people img {
  display: block;
  width: 100%; }

#people h2 {
  color: #0b5f86; }

#people h3 {
  color: #2e3135; }

#people p {
  margin-bottom: 0; }

#people .people-details {
  background: #ffffff;
  padding: 40px 30px 50px 30px; }

.flex-four-col {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .flex-four-col > a {
    max-width: 49.15254%;
    width: 49.15254%;
    margin-right: 1.69492%;
    margin-bottom: 1.69492%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    @media (min-width: 860px) {
      .flex-four-col > a {
        max-width: 23.72881%;
        width: 23.72881%; } }
    .flex-four-col > a:nth-child(2n) {
      margin-right: 0; }
      @media (min-width: 860px) {
        .flex-four-col > a:nth-child(2n) {
          margin-right: 1.69492%; } }
    @media (min-width: 860px) {
      .flex-four-col > a:nth-child(4n) {
        margin-right: 0; } }

.image-margin-bottom {
  margin-bottom: 60px; }

.pop {
  color: #a89e92;
  margin-bottom: 5px; }

.project-split {
  position: relative;
  overflow: hidden;
  display: block; }
  .project-split div {
    position: relative; }
    .project-split div img {
      margin: 0;
      display: block;
      max-height: none;
      width: 100%; }
  .project-split a {
    position: relative;
    margin-bottom: 1.69492%;
    min-height: 125px;
    background-position: 50% 50% !important;
    margin-bottom: 30px; }
  .project-split .blue-filter:hover + .text-cell div {
    left: 0; }
  .project-split .blue-filter {
    width: 100%;
    position: absolute; }
  .project-split .text-cell {
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    z-index: 6;
    pointer-events: none;
    overflow: hidden; }
    .project-split .text-cell h3 {
      color: #ffffff;
      margin-bottom: 30px; }
    .project-split .text-cell p {
      margin-bottom: 5px;
      color: #cbc5be; }
    .project-split .text-cell p:nth-child(2n) {
      color: #a89e92; }
    .project-split .text-cell div {
      position: relative;
      left: -200px;
      -webkit-transition: left 0.2s ease-in-out;
      transition: left 0.2s ease-in-out; }
  .project-split a {
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 30%; }
    @media (min-width: 860px) {
      .project-split a {
        padding-top: 23%; } }

.image-crop {
  max-height: 235px;
  height: 235px;
  overflow: hidden; }
  .image-crop img {
    max-width: none; }

.people-bio .container {
  margin-bottom: 40px; }
  .people-bio .container:last-of-type {
    margin-bottom: 0; }

/*!
 *  Font Awesome 4.6.1 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.1") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.1") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }
