@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin vertical-align-table {
	display: table;
	
	.wrapper {
		display: table-cell;
		vertical-align: middle;
	}
}

