html {
    font-size: 16px;
    min-height: 100%;
    line-height: 1.42;
    margin: 0;
    font-family: $semi-bold-font;
}

body {
	line-height: 1.42;
	font-family: $semi-bold-font;
}

h1 {
	font-family: $bold-font;
	font-size: 14px;
	color: $dark-gray;
	margin-bottom: 50px;
	word-wrap: break-word;

	@include breakpoint($breakpoint-md-width) {
		font-size: 24px;
	}

	&.fatty {
		color: $white;
		font-size: 33px;
		font-family: $bold-font;
		font-weight: normal;
		position: relative;
		margin-bottom: 0;

		&:after {
			display: none;
		}

		@include breakpoint($breakpoint-md-width) {
			font-size: 80px;
			line-height: 80px;
			margin-bottom: 10px;
		}

		@include breakpoint(1000px) {
			font-size: 110px;
			line-height: 110px;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 25px;
		height: 3px;
		background: $dark-gray;
		margin-top: 15px;
	}
}

h2 {
	font-family: $bold-font;
	font-size: 19px;
	margin-bottom: 30px;
	color: $white;
	max-width: 1000px;
	line-height: 21px;

	@include breakpoint($breakpoint-md-width) {
		font-size: 48px;
		line-height: 54px;
		margin-bottom: 50px;
	}
}

h3 {
	font-family: $bold-font;
	color: $dark-cream;
	font-size: 14px;
	margin-bottom: 20px;

	@include breakpoint($breakpoint-md-width) {
		font-size: 24px;
	}
}

h4 {
	font-family: $bold-font;
	font-size: 14px;
	color: $gray;

	@include breakpoint($breakpoint-md-width) {
		font-size: 24px;
	}
}

p {
  color: $text-color;
  margin-bottom: 20px;
  font-family: $semi-bold-font;
  font-size: 13px;

  @include breakpoint($breakpoint-md-width) {
  	font-size: 16px;
  }
}

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.2;

	@include breakpoint($breakpoint-md-width) {
		letter-spacing: -0.8;

	}
}

a {
	color: inherit;
	text-decoration: none;
	font-family: $semi-bold-font;
}

blockquote {
	max-width: span(12);
	font-size: 19px;
	font-family: $bold-font;
	color: $white;
	overflow: hidden;
	line-height: 1.4;

	@include breakpoint($breakpoint-md-width) {
		font-size: 48px;
		line-height: 54px;
		max-width: span(8);
	}

	p {
		color: $white;
		float: right;
		padding-top: 40px;
		line-height: 18px;
		margin-bottom: 0;
		font-size: 9px;

		@include breakpoint($breakpoint-md-width) {
			font-size: 18px;
		}
	}
}

address {
	margin-bottom: 20px;
}

.big-list li {
	font-family: $bold-font;
	font-size: 17px;
	color: $gray;
	padding-bottom: 20px;
	padding-left: 30px;

	a {
		font-family: $bold-font;
		display: inline-block;
	}

	@include breakpoint($breakpoint-md-width) {
		font-size: 24px;
		padding-bottom: 30px;
	}

	&:before {
		transition: left .2s ease-in-out;
		content: "\f054";
		font-family: FontAwesome;
		color: $blue;
		position: absolute;
		left: 0;
	}

	&:hover:before {
		left: 10px;
	}
}

.small-list li {
	font-family: $semi-bold-font;
	font-size: 13px;
	color: $dark-gray;
	padding-bottom: 30px;
	padding-left: 30px;
	position: relative;

	@include breakpoint($breakpoint-md-width) {
		font-size: 16px;
	}

	&:before {
		transition: left .2s ease-in-out;
		content: "";
		background: $blue;
		width: 15px;
		height: 2px;
		position: absolute;
		left: 0;
		top: 8px;
		display: inline-block;

		@include breakpoint($breakpoint-md-width) {
			top: 12px;
		}
	}

	&:hover:before {
		left: 5px;
	}
}

@font-face {
	font-family: 'Avertastd-semibold';
	src: 	url('../fonts/avertastd-semibold-webfont.eot');
	src: 	url('../fonts/avertastd-semibold-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/avertastd-semibold-webfont.woff2') format('woff2'),
			url('../fonts/avertastd-semibold-webfont.woff') format('woff'),
			url('../fonts/avertastd-semibold-webfont.ttf') format('truetype'),
			url('../fonts/avertastd-semibold-webfont.svg') format('svg');
	//  src: url('../fonts/FontAwesome.otf') format('opentype'); // used when developing fonts
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avertastd-bold';
	src: 	url('../fonts/avertastd-bold-webfont.eot');
	src: 	url('../fonts/avertastd-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/avertastd-bold-webfont.woff2') format('woff2'),
			url('../fonts/avertastd-bold-webfont.woff') format('woff'),
			url('../fonts/avertastd-bold-webfont.ttf') format('truetype'),
			url('../fonts/avertastd-bold-webfont.svg') format('svg');
	//  src: url('../fonts/FontAwesome.otf') format('opentype'); // used when developing fonts
	font-weight: normal;
	font-style: normal;
}

// As is often the case, some devices/browsers need additional code to get CSS to work
// in the most desired way. These mixins are used to quickly drop in hacks for each element
// Find out more here: https://github.com/IanLunn/Hover/wiki/Hacks-Explained

@mixin hardwareAccel() {
	// Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	// Improve aliasing on mobile/tablet devices
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin fontSmooth() {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

@mixin forceBlockLevel() {
	// Transforms need to be block-level to work
	display: inline-block;
	vertical-align: middle;
}

@mixin hacks() {
	@include forceBlockLevel();
	@include hardwareAccel();
	@include improveAntiAlias();
	@include fontSmooth();
}


/* Underline From Center */
@mixin underline-from-center {
	$duration: .2s;

	@include hacks();
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 25px;
		background: $dark-cream;
		height: 4px;
		transition-property: left, right;
		transition-duration: $duration;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus,
	&:active {

		&:before {

			right: 0;
		}
	}
}