$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: after
	// debug: (image: show)
);

// break points
$breakpoint-sm-width: 480px;
$breakpoint-md-width: 860px;
$breakpoint-lg-width: 1200px;

$container-width: 1330px;

//colors

$black: #000000;
$white: #ffffff;

$blue: #0b5f86;
$light-blue: #85afc2;

$dark-cream: #a89e92;
$cream: #cbc5be;
$light-cream: #e5e2de;

$dark-gray: #2e3135;
$gray: #6c6e71;
$light-gray: #96989a;

$text-color: $dark-gray;

// fonts

$semi-bold-font: 'Avertastd-semibold';
$bold-font: 'Avertastd-bold';

$retina-query: (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

html {
  margin-top: 0 !important;
}
