.wordpress-content-area {
	ul {
		list-style-type: disc;
		padding-left: 30px;
	}

	strong {
		color: #000;
	}

	blockquote {
		border-left: 2px solid #555;
    	padding-left: 15px;

    	p {
    		// color: #000;
    	}
	}
}