
.blue-on-top-filter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: $blue;
	opacity: 0.6;

	// & + .container {
	// 	z-index: 999999;
	// }
}

.blue-filter {
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;

	&:hover:before {
		opacity: 1;
	}

	img {
		display: block;
	}

	&:after,
	&:before {
		transition: opacity .2s ease-in-out;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 5;
		background: linear-gradient(150deg, rgba(11, 95, 134, 0.5), rgba(0,0,0,0));
	}

	&:before {
		opacity: 0;
		background: linear-gradient(150deg, rgba(11, 95, 134, 1), rgba(0,0,0,0));
	}
}

.mobile-hide {
	display: none;

	@include breakpoint($breakpoint-md-width) {
		display: block; // hack for IE, may cause problems if deafult isnt block
		display: initial;
	}
}

.fade-hover {
	position: relative;
	display: inline-block;

	&:hover:before {
		opacity: 1;
	}

	&:before {
		width: 100%;
		height: 100%;
		content: '';
		background: $blue;
		z-index: 2;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.fade-in-on-scroll {
	transition: all .3s ease-in-out;
	position: relative;
	opacity: 1;
	transform: translateX(0);
	top: 0;
}

.fade-from-left {
	transform: translateX(-50px);
	opacity: 0;
	transition: none;
}

.fade-from-right {
	transform: translateX(50px);
	opacity: 0;
	transition: none;
}

.fade-from-bottom {
	transform: translateY(50px);
	opacity: 0;
	transition: none;
}

.big-background {
	position: relative;
	overflow: hidden;
	padding-top: 35%;
	padding-bottom: 0;

	@include breakpoint($breakpoint-md-width) {
		padding-top: 15%;
	}

	@include breakpoint($breakpoint-md-width) {
		padding-top: 20%;
	}

	.container {
		margin-bottom: 16vw;
	}

	> img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.cream-font {
	color: $cream;
}

.dark-cream-font {
	color: $dark-cream;
}

.big-font {

	@include breakpoint($breakpoint-md-width) {
		font-size: 48px;
	}
}

.cream-background {
	background: $cream;
}

.light-cream-background {
	background: $light-cream;
}

.white-text {
	color: $white;

	&:after {
		background: $white;
	}
}

.dark-text {
	color: $dark-gray;

	li {
		color: $dark-gray;
	}
}

.dark-cream-background {
	background: $dark-cream;
}

.dark-gray-background {
	background: $dark-gray;
}

.blue-background {
	background: $blue;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.small-hr {
	color: $dark-cream;
	width: 30px;
	margin: 10px 0;
}

.over-flow {
	overflow: hidden;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.margin-bottom {
	margin-bottom: 80px;
}

.insta-target {

	img {
		width: auto;
	}
}
