#home-slider {
	padding: 0;
}

#home-services {
	background: $cream;
	overflow: hidden;

	.global-image-cell h4 {
		color: $white;
	}

	.three-col > div {
		@include span(4);
		@include suffix(1);

		@include breakpoint($breakpoint-md-width) {
			@include span(4);
			@include suffix(0);
		}

		&:nth-child(3n) {
			@include span(4 last);
		}
	}
}

#home-featured {
	position: relative;
	overflow: hidden;

	div {
		position: relative;

		img {
			margin: 0;
			display: block;
			max-height: none;
			width: 100%;
		}

		.big-right {
			padding-top: 45.5%;

			img {
				max-height: auto;
			}
		}
	}

	a {
		position: relative;
	}

	.blue-filter:hover + .text-cell div {
		left: 0;
	}

	.blue-filter {
		width: 100%;
		position: absolute;
	}

	.text-cell {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 25px;
		z-index: 6;
		pointer-events: none;
		overflow: hidden;

		h3 {
			color: $white;
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 5px;
			color: $cream;
		}

		p:nth-child(2n) {
			color: $dark-cream;
		}

		div {
			position: relative;
			left: -200px;
			transition: left 0.2s ease-in-out;
		}
	}

	a {
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-size: 100% 1 !important;
		height: 0;
		padding-top: 40%;

		@include breakpoint($breakpoint-sm-width) {
			padding-top: 30%;
		}


		@include breakpoint($breakpoint-md-width) {
			padding-top: 23%;
		}
	}

	.feature-big-split > div {
		margin-bottom: 1%;
		overflow: hidden;

		div {

			&:nth-of-type(1n) {

			}

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}
}

#home-next-project {
	@include section-padding;
	background: $blue;

	h1 {
		color: $cream;
		margin-bottom: 15px;
		@include prefix(0 of 10);

		@include breakpoint($breakpoint-md-width) {
			@include prefix(6 of 12);
		}

		&:after {
			display: none;
		}
	}

	a {
		color: $white;
		font-size: 11px;
		@include prefix(0 of 10);

		@include breakpoint($breakpoint-md-width) {
			@include prefix(6 of 12);
			font-size: 18px;
		}

		img {
			transition: right .2s ease-in-out;
			margin-right: 10px;
			position: relative;
			right: 0;
		}

		&:hover img {
			right: -5px;
		}
	}
}

#home-products {
	background: $cream;

	a {
		font-size: 14px;
		color: $gray;
		font-family: $bold-font;
		position: relative;
		margin-bottom: 20px;
		padding-left: 30px;

		@include breakpoint($breakpoint-md-width) {
			font-size: 24px;
		}

		&:before {
			content: "\f105";
			font-family: FontAwesome;
			margin-right: 10px;
			font-size: 32px;
			color: $blue;
			position: absolute;
			left: 0;
			transition: left 0.2s ease-in-out;
			top: 0;
			line-height: 18px;

			@include breakpoint($breakpoint-md-width) {
				line-height: 32px;

			}
		}

		&:hover:before {
			left: 5px;
		}
	}
}

#home-news {

	p {
		font-size: 16px;
	}

	.date {
		color: $dark-cream;
		font-size: 14px;
	}

	.three-col > a {
		@include span(4);

		&:last-of-type {
			@include span(4 last);
		}


		img {
			width: 100%;
		}
	}

	.news-cell a {
		@include suffix(1 of 20);

		h3 {
			transition: color .2s ease-in-out;
		}

		&:hover {

			h3 {
				color: $blue;
			}
		}
	}
}

#home-quote {
	background: $light-blue;
}

.contact-details {
	margin-top: 50px;

	h1 {
		margin-bottom: 0;

		&:after {
			display: none;
		}
	}

	div h1 {

		&:first-of-type {
			width: 40%;
			float: left;

			@include breakpoint($breakpoint-md-width) {
				width: 20%;
			}
		}
	}
}

.home-project-split {

	> a {
		min-height: 75px;
		max-height: 300px;
		overflow: hidden;
		margin-bottom: 1%;

		&:nth-of-type(1) {
			@include span(12);

			@include breakpoint($breakpoint-sm-width) {
				@include span(8 of 12);
			}

			@include breakpoint($breakpoint-md-width) {
				@include span(10 of 20);
			}
		}

		&:nth-of-type(2) {
			@include span(12);

			@include breakpoint($breakpoint-sm-width) {
				@include span(4 of 12);
				margin-right: 0;
			}

			@include breakpoint($breakpoint-md-width) {
				@include span(5 of 20);
			}
		}

		&:nth-of-type(3) {
			@include span(12);

			@include breakpoint($breakpoint-sm-width) {
				display: none;
			}

			@include breakpoint($breakpoint-md-width) {
				display: block;
				@include span(5 of 20 last);
				padding-top: 47% !important;
			}
		}

		&:nth-of-type(4) {
			@include span(12);

			@include breakpoint($breakpoint-sm-width) {
				@include span(4 of 12);
			}

			@include breakpoint($breakpoint-md-width) {
					@include span(5 of 20);
			}
		}

		&:nth-of-type(5) {
			@include span(12);

			@include breakpoint($breakpoint-sm-width){
				@include span(8 of 12);
				margin-right: 0;
			}

			@include breakpoint($breakpoint-md-width) {
				@include span(10 of 20);
			}
		}
	}
}
