#people {

	a {
		display: block;
		background: $white;
	}

	img {
		display: block;
		width: 100%;
	}

	h2 {
		color: $blue;
	}

	h3 {
		color: $dark-gray;
	}

	p {
		margin-bottom: 0;
	}

	.people-details {
		background: $white;
		padding: 40px 30px 50px 30px;
	}
}

.flex-four-col {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> a {
		max-width: span(6);
		width: span(6); // dupe for ie fix
		margin-right: gutter();
		margin-bottom: gutter();
		flex: 1 0 auto;

		@include breakpoint($breakpoint-md-width) {
			max-width: span(3);
			width: span(3); // dupe for ie fix
		}

		&:nth-child(2n) {
			margin-right: 0;

			@include breakpoint($breakpoint-md-width) {
				margin-right: gutter();
			}
		}

		&:nth-child(4n) {

			@include breakpoint($breakpoint-md-width) {
				margin-right: 0;
			}
		}
	}
}

.image-margin-bottom {
	margin-bottom: 60px;
}

.pop {
	color: $dark-cream;
	margin-bottom: 5px;
}

.project-split {
	position: relative;
	overflow: hidden;
	display: block;

	div {
		position: relative;

		img {
			margin: 0;
			display: block;
			max-height: none;
			width: 100%;
		}
	}

	a {
		position: relative;
		margin-bottom: gutter();
		min-height: 125px;
		background-position: 50% 50% !important;
		margin-bottom: 30px;
	}

	.blue-filter:hover + .text-cell div {
		left: 0;
	}

	.blue-filter {
		width: 100%;
		position: absolute;
	}

	.text-cell {
		position: absolute;
		top: 25px;
		left: 25px;
		width: calc(100% - 50px);
		height: calc(100% - 50px);
		z-index: 6;
		pointer-events: none;
		overflow: hidden;

		h3 {
			color: $white;
			margin-bottom: 30px;
		}

		p {
			margin-bottom: 5px;
			color: $cream;
		}

		p:nth-child(2n) {
			color: $dark-cream;
		}

		div {
			position: relative;
			left: -200px;
			transition: left 0.2s ease-in-out;
		}
	}

	a {
		background-size: cover !important;
		background-repeat: no-repeat;
		height: 0;
		padding-top: 30%;

		@include breakpoint($breakpoint-md-width) {
			padding-top: 23%;
		}
	}
}

.image-crop {
	max-height: 235px;
	height: 235px;
	overflow: hidden;

	img {
		max-width: none;
	}
}

.people-bio {

	.container {
		margin-bottom: 40px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
