#project-details {

	.project-details-split {
		overflow: hidden;

		h1 {
			font-size: 16px;
			margin-bottom: 15px;

			&:after {
				width: 15px;
				height: 1px;
			}
		}

		p {
			color: $dark-gray;
			margin-bottom: 0;
		}

		> div {
			@include span(3 of 10);

			@include breakpoint($breakpoint-md-width) {
				@include span(4 of 20);
			}

			&:first-of-type {
				@include pre(0);

				@include breakpoint($breakpoint-md-width) {
					@include pre(5 of 20);
				}
			}
		}
	}
}

#project-detail {

	h2 {
		color: $dark-gray;
	}

	p {
		color: $dark-gray;
	}
}

#project-team {

	.project-team-split {
		overflow: hidden;

		img {
			display: block;
			width: auto;
			height: 200px;
			max-width: none;
			min-width: 100%;
		}

		h1 {
			width: 100%;
		}

		> div {

			.team-member-cell {
				background: $white;
				overflow: hidden;
				display: block;
				width: 100%;
				padding: 20px 10px;

				p {
					color: $dark-gray;
					margin: 0;

					&:last-of-type {
						font-size: 14px;
					}
				}
			}

			&:first-of-type {
				@include span(20 of 20);
				margin-bottom: 40px;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				@include breakpoint($breakpoint-md-width) {
					@include span(12 of 20);
					margin-bottom: 0;
				}

				> a {
					@include span(12 of 12);
					margin-bottom: 30px;
					background: $white;
					overflow: hidden;

					@include breakpoint($breakpoint-md-width) {
						max-width: span(3 of 12);
						width: span(3 of 12);
						margin-right: gutter();
						flex: 1 0 auto;

						margin-bottom: 0;
					}

					&:last-of-type {
						@include span(12 of 12 last);

						@include breakpoint($breakpoint-md-width) {
							margin-right: 0;
						}
					}
				}
			}

			&:last-of-type {
				@include span(20 of 20 last);

				@include breakpoint($breakpoint-md-width) {
					@include span(8 of 20 last);
				}

				a {
					color: $white;
					margin-bottom: 7px;
					display: block;
					font-family: $semi-bold-font;
					font-size: 16px;
				}

				> div {
					@include span(8 of 8);
					margin-bottom: 30px;

					@include breakpoint($breakpoint-md-width) {
						@include span(4 of 8);
						margin-bottom: 0;
					}

					&:last-of-type {
						@include span(8 of 12);
						margin-bottom: 0;

						@include breakpoint($breakpoint-md-width) {
							@include span(4 of 8 last);
						}
					}
				}
			}
		}
	}
}