
.slider-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    max-height: 900px;
    height: 850px;
    z-index: 5;

    img {
        display: block;
        min-height: 350px;
        width: auto;

        @include breakpoint($breakpoint-md-width) {
            max-width: none;
            width: 100%;
        }
    }

    .slider-cell {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        h1 {
            display: none;
        }
    }

    .slider-counter {
        position: absolute;
        bottom: 30px;
        z-index: 10;
        width: 100%;
        pointer-events: none;

        .container {
            position: relative;
            text-align: right;
        }

        .slider-counter-cell {
            width: 50px;
            height: 10px;
            margin-left: 20px;
            background: rgba(255, 255, 255, 0.5);
            z-index: 15;
            display: inline-block;

            &.active {
                background: rgba(255, 255, 255, 1);
            }
        }
    }

    .slider-text-container {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        pointer-events: none;
        height: 100%;

        .container {
            position: relative;
            @include vertical-align();

            > div {
                overflow: hidden;
            }
        }
    }
}

/**
 * bxSlider v4.2.5
 * Copyright 2013-2015 Steven Wanderski
 * Written while drinking Belgian ales and listening to jazz

 * Licensed under MIT (http://opensource.org/licenses/MIT)
 */

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  max-height: 600px;
  display: block;
  margin: 0 auto;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);


  ul {
    height: 100%;

    li {
      @include vertical-align;
    }
  }
}
/** THEME
===================================*/
.bx-wrapper {
  // border: 5px solid #fff;
  // background: #fff;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  width: 50px;
  height: 10px;
  background: $dark-cream;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: $blue;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */



.side-slider-left,
.side-slider-right {
    position: absolute;
    top: 50%;

    &:before {
        transition: left .2s ease-in-out;
        font-family: FontAwesome;
        margin-right: 20px;
        color: $blue;
        position: relative;
        left: 0;
        font-size: 30px;
        cursor: pointer;
    }
}
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('../img/side-slider/left-arrow.png');
  width: 21px;
  height: 35px;
  background-repeat: no-repeat;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  //background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('../img/side-slider/right-arrow.png');
  width: 21px;
  height: 35px;
  background-repeat: no-repeat;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  //background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
    width: 21px;
    height: 35px;
  text-indent: -9999px;
  z-index: 9;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
