
@mixin section-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

@mixin big-section-padding {
	padding-top: 80px;
	padding-bottom: 80px;
}

@mixin extra-big-section-padding {
	padding-top: 140px;
	padding-bottom: 140px;
}

html {

}

body {
	margin-bottom: 350px;
	//margin-bottom: 297px;

	@include breakpoint($breakpoint-md-width) {
		margin-bottom: 327px;
	}
}

main {
	display: block;

	section:first-of-type {

		.container {
			padding-top: 65px;

			@include breakpoint($breakpoint-md-width) {
				padding-top: 84px;
			}
		}
	}
}

.container {
	width: 100%;
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 20px;

	@include breakpoint($container-width) {
		padding: 0;
	}
}

img {
	max-width: 100%;
}

section {
	@include big-section-padding;
	width: 100%;
	background: $white;

	&.small-padding {
		@include section-padding;
	}

	&.extra-big-padding {
		@include extra-big-section-padding;
	}
}

.main-body {
	// margin-top: 65px;
	z-index: 0;

	// @include breakpoint($breakpoint-md-width) {
	// 	margin-top: 84px;
	// }

	.filter {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;
		transition: opacity .4s ease-out;
		background: $light-gray;
		z-index: 9;
	}

	&.open {

		.filter {
			opacity: 0.6;
		}
	}
}

.four-col {
	overflow: hidden;

	> div,
	> a {
		@include span(12);

		@include breakpoint($breakpoint-md-width) {
			@include span(3);
		}

		&:last-of-type {

			@include breakpoint($breakpoint-md-width) {
				@include span(3 last);
			}
		}
	}
}

.three-col {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	> div,
	> a {
		@include span(12);

		@include breakpoint($breakpoint-md-width) {
			max-width: span(4);
			width: span(4);
			margin-right: gutter();
			flex: 1 0 auto;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.two-col {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&.big-right-margin {

		> div,
		> a {
			margin-right: 0;
			@include suffix(span(1.5 of 12));
			padding-bottom: 60px;
		}
	}

	> div,
	> a {
		max-width: span(12);
		width: span(12);
		margin-right: 0;
		flex: 1 0 auto;

		@include breakpoint($breakpoint-md-width) {
			max-width: span(6);
			width: span(6);
			margin-right: gutter();
		}

		&:nth-child(2n) {

			@include breakpoint($breakpoint-md-width) {
				margin-right: 0;
			}
		}
	}
}

.feature-big-split {
	@include span(20 of 20);

	@include breakpoint($breakpoint-md-width) {
		@include span(15 of 20);
	}
}

.feature-big-sub-split {
	@include span(10 of 15);
}

.feature-small-split {
	@include span(5 of 15);
}

.three-quarter-col {
	@include span(12);

	@include breakpoint($breakpoint-md-width) {
		@include span(9);
	}
}

.one-quarter-col {
	@include span(12);

	@include breakpoint($breakpoint-md-width) {
		@include span(3);
		margin-right: 0;
	}
}

.howard-split {
	overflow: hidden;

	&.empty-first {

	}

	> div {
		@include prefix(0);

		@include breakpoint($breakpoint-md-width) {
			@include prefix(0);
		}

		&:first-of-type {
			display: none;

			@include breakpoint($breakpoint-md-width) {
				@include span(5 of 20);
				display: block;
			}
		}

		&:nth-child(2) {
			@include span(12);

			@include breakpoint($breakpoint-md-width) {
				@include span(7 of 20);
			}
		}

		&:last-of-type {
			@include span(12 last);

			@include breakpoint($breakpoint-md-width) {
				@include span(7 of 20);
			}
		}
	}
}

.howard-split-big {
	overflow: hidden;

	&.empty-first {

	}

	> div {
		@include prefix(0);

		@include breakpoint($breakpoint-md-width) {
			@include prefix(0)
		}

		&:first-of-type {
			@include span(20 of 20);

			@include breakpoint($breakpoint-md-width) {
				@include span(5 of 20);
				display: block;
			}
		}

		&:last-of-type {
			@include span(12 last);

			@include breakpoint($breakpoint-md-width) {
				@include span(14 of 20);
			}
		}
	}
}

.last {
	margin-right: 0;
}

.text-split-two-col {

	@include breakpoint($breakpoint-md-width) {
		column-gap: gutter();
		column-count: 2;
	}

	li,
	p {
		display: block;

		@include breakpoint($breakpoint-md-width) {
			display: inline-block;
			width: 100%;
		}
	}
}

.smaller-break-col {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 40px;

	> div,
	> a {
		max-width: span(6);
		width: span(6);
		margin-right: gutter();
		flex: 1 0 auto;

		@include breakpoint($breakpoint-md-width) {
			max-width: span(3);
			width: span(3);
		}

		&:nth-child(2n) {
			margin-right: 0;
			clear: both;
		}
	}
}

.global-image-cell {
	margin-bottom: 10px;
	display: block;
	overflow: hidden;
	margin-top: 30px;

	@include breakpoint($breakpoint-md-width) {
		margin-top: 0;
	}

	img {
		margin-right: 20px;
		margin-bottom: 40px;
		float: left;
		transition: all .2s ease-in-out;
		width: 50px;

		@include breakpoint($breakpoint-md-width) {
			//width: auto;
		}
	}

	.image {
		display: block;
		width: 100%;
		overflow: hidden;
		height: 75px;

		@include breakpoint($breakpoint-md-width) {
			display: inline-block;
			float: left;
			width: 80px;
			height: auto;
		}
	}

	span {

		@include breakpoint($breakpoint-md-width) {
			float: left;
			width: calc(100% - 80px);
		}
	}

	h4 {
		margin-bottom: 5px;
		display: block;

		@include breakpoint($breakpoint-md-width) {
			display: inline-block;
		}
	}

	 p {
	 	display: none;

		@include breakpoint($breakpoint-md-width) {
			display: inline-block;
			font-size: 16px;
			margin-bottom: 0;
		}
	}

	&:hover {

		// img {
		// 	transform: scale(0.8);
		// }
	}
}

.gallery-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;

	img {
		max-width: 100%;
		max-height: 100%;
		@include vertical-align;
	}

	> div {
		max-width: span(6);
		width: span(6);
		margin-right: gutter();
		flex: 1 0 auto;
		padding: 3%;
		position: relative;
		//padding-bottom: span(2);
		height: 225px;

		@include breakpoint($breakpoint-sm-width) {
			max-width: span(4);
			width: span(4);
		}

		@include breakpoint($breakpoint-md-width) {
			max-width: span(2);
			width: span(2);
		}

		&:nth-of-type(2n) {
			margin-right: 0;

			@include breakpoint($breakpoint-sm-width) {
				margin-right: gutter();
			}
		}

		&:nth-of-type(3n) {
			margin-right: 0;

			@include breakpoint($breakpoint-md-width) {
				margin-right: gutter();
			}
		}

		&:nth-of-type(6n) {
			margin-right: 0;
		}
	}
}
