@keyframes slideFromTop {
    0% {
    	top: -200px;
    }

    100% {
    	top: 0;
    }
}

nav {
	width: 100%;
	height: 65px;
	background: $blue;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	top: -200px;
	animation: slideFromTop .7s .2s ease-in-out;
	animation-fill-mode: forwards;

	@include breakpoint($breakpoint-md-width) {
		height: 85px;
	}

	img {
		margin-top: 15px;
		max-width: 150px;

		@include breakpoint($breakpoint-md-width) {
			margin-top: 20px;
			max-width: none;
		}
	}

	.container {

	}

	.mobile-nav-icon {
		position: absolute;
		top: 0;
		right: 0;
		height: 65px;
		width: 65px;
		background: $dark-cream;
		z-index: 22;
		cursor: pointer;

		@include breakpoint($breakpoint-md-width) {
			display: none;
		}

		.mobile-nav-burger {
			width: 25px;
			height: 2px;
			background: $white;
			margin: 0 auto;
			position: relative;
			top: 23px;

			&:before,
			&:after {
				width: 25px;
				height: 2px;
				content: '';
				background: $white;
				margin: 0 auto;
				position: relative;
				display: block;
			}

			&:before {
				top: 8px;
			}

			&:after {
				top: 14px;
			}
		}
	}

	.nav-list {
		transition: transform .2s ease-in-out;
		position: absolute;
		height: 100vh;
		width: 50%;
		background: $white;
		top: 65px;
		padding-left: 10px;
		padding-top: 10px;
		//right: -50%;
		right: 0;
		transform: translateX(100%);

		&.active {
			//right: 0;
			transform: translateX(0)
		}

		@include breakpoint($breakpoint-sm-width) {
			padding-left: 20px;
			padding-top: 20px;
		}

		@include breakpoint($breakpoint-md-width) {
			float: right;
			padding-left: 0;
			padding-top: 0;
			height: 100%;
			background: transparent;
			position: relative;
			width: auto;
			top: 0;
			right: 0;
			transform: translateX(0);
		}

		a {
			display: block;
			padding: 10px 0;
			margin: 0 14px;
			font-size: 17px;
			color: $gray;
			font-family: $bold-font;
			padding-left: 30px;
			position: relative;

			@include breakpoint($breakpoint-md-width) {
				@include underline-from-center;
				display: inline-block;
				color: $white;
				font-size: 14px;
				padding: 35px 0;
			}

			@include breakpoint(1119px) {
				margin: 0 20px;
			}

			&:hover:before {
				left: 0;
			}

			&:before {
				transition: left .2s ease-in-out;
				content: "\f054";
				font-family: FontAwesome;
				color: $blue;
				position: absolute;
				left: 0;

				@include breakpoint($breakpoint-md-width) {
					content: '';
					margin-right: 0;
					position: absolute;
					transition: none;
					transition-property: left, right;
					transition-duration: .2s;
					transition-timing-function: ease-out;
				}
			}

			&.active {

				&:before {
					@include breakpoint($breakpoint-md-width) {
						content: "";
						position: absolute;
						z-index: -1;
						left: 0;
						right: 0;
						bottom: 25px;
						background: $dark-cream;
						height: 4px;
					}
				}
			}
		}
	}
}

.nav-target {
	position: fixed;
	top: 65px;
	right: 0;
	width: 100%;
	min-height: calc(100% - 65px);
	background: $white;
	//right: -100%;
	transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 12;
	overflow-x: scroll;

	right: 0;
	transform: translateX(100%);

	@include breakpoint($breakpoint-md-width) {
		width: 50%;
		// right: -50%;
		top: 85px;
		min-height: calc(100% - 86px);
		transform: translateX(100%);
	}

	.nav-content {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		max-width: 100%;
		padding: 60px 27px 75px 27px;
		// overflow-x: scroll;
		pointer-events: none;

		@include breakpoint($breakpoint-md-width) {
			max-width: 80%;
			padding: 80px 0 75px 80px;
		}

		ul {
			margin-top: 50px;
		}

		h4 {
			font-size: 17px;

			@include breakpoint($breakpoint-md-width) {
				font-size: 24px;
			}
		}

		.global-image-cell {
			@include span(4);

			@include breakpoint($breakpoint-md-width) {
				@include span(12);
			}

			&:nth-of-type(3n) {
				@include span(4 last);

				@include breakpoint($breakpoint-md-width) {
					@include span(12);
				}

			}
		}

		// maby move these selectors to a class

		.nav-slide {
			transition: transform 1.3s 0.1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
			opacity: 0;
			transform: translateX(100px);
			position: relative;
			pointer-events: none;

			&.open {
				opacity: 1;
				transform: translateX(0);
				pointer-events: all;
			}
		}
	}

	&.open {
		// right: 0;
		transform: translateX(0)
	}

	.close {
		position: absolute;
		top: 25px;
		left: 25px;
		color: $blue;
		cursor: pointer;
		z-index: 3;
		font-size: 20px;
	}

	p {
		color: $dark-cream;
	}
}

footer {
	padding: 40px 0 10px 0;
	background: $blue;
	overflow: hidden;
	color: $white;
	font-size: 15px;
	line-height: 25px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: -101; // to sort issue with parrlax hidden bg

	@include breakpoint($breakpoint-md-width) {
		@include big-section-padding;
	}

	p {
		margin-bottom: 0px;
		color: $white;
		font-size: 15px;
		line-height: 25px;
	}

	.four-col > div {
		@include span(6);
		padding-bottom: 30px;

		&:nth-child(2n) {
			@include span(6 last);

			@include breakpoint($breakpoint-md-width) {
				@include span(3);

			}
		}

		@include breakpoint($breakpoint-md-width) {
			@include span(3);
			margin-bottom: 0;
		}

		&:last-of-type {
			@include breakpoint($breakpoint-md-width) {
				@include span(3 last);
			}
		}
	}

	.fa {
		margin-right: 10px;
		transition: all .2s ease-in-out;

		&:hover {
			color: darken($white, 30%);
		}
	}

	a:not(.fa) {
		@include underline-from-center;
		top: -2px;

		&:before {
			bottom: -3px;
			background: $white;
		}
	}

	.footer-line {
		display: block;
		width: 20px;
		height: 2px;
		background: $white;
		margin-bottom: 15px;

		&.blue {
			background: $blue;
		}
	}
}

.nav-content {

	.three-col > div,
	.three-col > a {

		@include breakpoint($breakpoint-md-width) {
			max-width: 100%;
		}
	}
}
